node_modules/
.env


















                                [ Read 1 line ]
^G Help      ^O Write Out ^W Where Is  ^K Cut       ^T Execute   ^C Location
X Exit      ^R Read File ^\ Replace   ^U Paste     ^J Justify   ^/ Go To Line
